@{
    Layout = null;
    var CurrentUser = (SysUser)ViewBag.CurrentUser;

    var funcCodes = CurrentUser.ObjectTag.GetPropertyValue<List<SysFunc>>("Funcs").Select(a => a.Code).ToArray();
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>@MvcApplication.Title</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="shortcut icon" href="@Url.Content("~/favicon.ico")" type="image/x-icon" />
    <link rel="stylesheet" href="/layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="//at.alicdn.com/t/font_tnyc012u2rlwstt9.css" media="all" />
    <link rel="stylesheet" href="/css/main.css" media="all" />
    <style>
        .layui-nav-more{
            display:none!important;
        }
        .layui-tab-item{
            top:51px;
        }
        .layui-tab .layui-tab-title li{
            height:40px;
        }
        [func]{
            display:none!important
        }
        @if(funcCodes.Length>0)
        {
            <text>
            @Html.Raw(string.Join(",",funcCodes.Select(a=>$"[func={a}]"))){display: inherit!important;}
            </text>
        }
    </style>
    <script>
        var FuncCodes = @JsonHelper.ToJson(funcCodes);
    </script>
</head>
<body class="main_body">
    <div class="layui-layout layui-layout-admin showMenu">
        <!-- 顶部 -->
        <div class="layui-header header">
            <div class="layui-main">
                <span class="logo" style="width: auto;">
                    <img src="@Url.Content("~/static/cao/logo.png")" width="32" height="32" style="width: 32px; height: 32px;" alt="" title="" />
                    @MvcApplication.Title
                </span>
                <!-- 显示/隐藏菜单 -->
                <a href="javascript:;" class="iconfont hideMenu icon-menu1"></a>


                <!-- 顶部右侧菜单 -->
                <ul class="layui-nav top_menu">

                    <li class="layui-nav-item" pc>
                        <a href="javascript:;">
                            <img src="@SysUserBll.GetAvatar(CurrentUser)" class="layui-circle" width="35" height="35">
                            <cite>@CurrentUser.Name</cite>
                        </a>
                        <dl class="layui-nav-child">
                            <dd><a href="javascript:;" onclick="PersonInfo();"><i class="iconfont icon-zhanghu" data-icon="icon-zhanghu"></i><cite>个人资料</cite></a></dd>
                            <dd><a href="javascript:;" onclick="ChangePassword();"><i class="iconfont icon-shezhi1" data-icon="icon-shezhi1"></i><cite>修改密码</cite></a></dd>
                            <dd><a href="javascript:;" class="changeSkin"><i class="iconfont icon-huanfu"></i><cite>更换皮肤</cite></a></dd>
                            <dd><a href="/User/Login" class="signOut"><i class="iconfont icon-loginout"></i><cite>退出</cite></a></dd>
                        </dl>
                    </li>
                </ul>
            </div>
        </div>
        <!-- 左侧导航 -->
        <div class="layui-side layui-bg-black">

            <div class="navBar layui-side-scroll"></div>
            <div class="" style="text-align:center">
                <div class="footer-tool">
                    v@(MvcApplication.Version)&nbsp;&nbsp;Copyright ©<br>爱拜尔（北京）科技有限公司
                </div>
            </div>
        </div>
        <!-- 右侧内容 -->
        <div class="layui-body layui-form" style="background:#f1f1f1">
            <div class="layui-tab layui-tab-card marg0" lay-filter="bodyTab" id="top_tabs_box" style="background:white">
                <ul class="layui-tab-title top_tab" id="top_tabs">
                    <li class="layui-this" lay-id="0"><i class="layui-icon layui-icon-home"></i> <cite>首页</cite><i data-id="0"></i></li>
                </ul>
                <ul class="layui-nav closeBox">
                    <li class="layui-nav-item">
                        <a href="javascript:;"><i class="iconfont icon-caozuo"></i> 页面操作</a>
                        <dl class="layui-nav-child">
                            <dd><a href="javascript:;" class="refresh refreshThis"><i class="layui-icon">&#x1002;</i> 刷新当前</a></dd>
                            <dd><a href="javascript:;" class="closePageOther"><i class="iconfont icon-prohibit"></i> 关闭其他</a></dd>
                            <dd><a href="javascript:;" class="closePageAll"><i class="iconfont icon-guanbi"></i> 关闭全部</a></dd>
                        </dl>
                    </li>
                </ul>
                <div class="layui-tab-content clildFrame">
                    <div class="layui-tab-item layui-show">
                        <iframe src="/Home/Main?title=我的测试任务" data-id="0"></iframe>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script>
        @if(funcCodes.Length>0)
        {
            <text>
        document.querySelector(".showMenu").classList.remove("showMenu");
            </text>
        }
    </script>
    <!-- 移动导航 -->
    <div class="site-tree-mobile layui-hide"><i class="layui-icon">&#xe602;</i></div>
    <div class="site-mobile-shade"></div>

    <input type="hidden" id="hidLeftModuleId" name="hidLeftModuleId" value="" />
    <input type="hidden" id="hidLeftParentId" name="hidLeftParentId" value="" />
    <script type="text/javascript" src="/layui/layui.js"></script>
    <script type="text/javascript" src="/js/nav.js"></script>
    <script type="text/javascript" src="/js/index.js?v=1"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js?@MvcApplication.Version"></script>
    <script src="~/Scripts/aibibase.js?@MvcApplication.Version"></script>
    <script>
        var tabsid = 0;
        var lastTab;
        function addTab(name, url) {
            name = name == null ? null : $.trim(name);
            url = $$.toOpenUrl(url, name);
            tab.addTab(name, url);
            return;

        }
        function findTab(name) {
            var tab, page, layid;
            if (typeof name == "string") {
                name = name == null ? null : $.trim(name);
                layid = window.tab.getLayId(name);
            } else if (typeof name == "number") {
                layid = name;
            } else {
                tab = $();
                page = $();
                return null;
            }
            tab = $("li[lay-id=" + layid + "]");
            let dataid = tab.find("i[data-id]").attr("data-id");
            page = $("iframe[data-id=" + dataid + "]").closest("div.layui-tab-item");

            if (tab.length <= 0) {
                return null;
            }
            return { tab: tab, page: page };
        }

        @*function WaterMarker() {
            var str1 = "爱拜尔PSY心理测评系统";
            var str2 = "@(CurrentUser.Name) @(DateTime.Now.ToString("yyyy/MM/dd HH:mm:ss"))";
            var str = str1 + " " + str2;
            var can = document.createElement('canvas');
            //var body = document.body;
            //body.appendChild(can);
            can.width = 400; //画布的宽
            can.height = 350;//画布的高度
            can.style.display = 'none';
            var cans = can.getContext('2d');
            //cans.strokeRect(0, 0, can.width, can.height);
            //cans.translate(275, 190);
            cans.rotate(-20 * Math.PI / 180); //画布里面文字的旋转角度
            cans.translate(-100, 40);


            //cans.translate(275,190);
            cans.font = "14px Microsoft JhengHei"; //画布里面文字的字体
            cans.fillStyle = "rgba(0,0,0,0.2)";//画布里面文字的颜色
            cans.textAlign = 'left'; //画布里面文字的水平位置
            cans.textBaseline = 'Middle'; //画布里面文字的垂直位置
            cans.fillText(str1, 90, 28); //画布里面文字的间距比例
            cans.fillText(str, 90, 112); //画布里面文字的间距比例
            cans.fillText(str, 60, 197); //画布里面文字的间距比例
            cans.fillText(str, 30, 282); //画布里面文字的间距比例
            cans.fillText(str2, 180, 348); //画布里面文字的间距比例
            //cans.fillText(str, 100, 330); //画布里面文字的间距比例
            //body.style.backgroundImage = "url(" + can.toDataURL("image/png") + ")"; //把画布插入到body中


            //cans.rotate(-20 * Math.PI / 180); //画布里面文字的旋转角度
            var div = $("<div></div>").css({
                "background": "url(" + can.toDataURL("image/png") + ")",
                width: ($(window).width()) + "px",
                height: ($(window).height()) + "px",
                "z-index": 9999999,
                position: "fixed",
                left: 0,
                top: 0,
                "pointer-events": "none"
            });
            $("body").append(div);
        }
        WaterMarker();*@
    </script>
    @Html.Partial("ChangePass")
    @Html.Partial("PersonInfo")
</body>
</html>
