@{
    ActionDescriptor action = ViewBag.ActionInfo;
    AiBi.Test.Dal.Model.SysUser CurrentUser = ViewBag.CurrentUser;
    Dictionary<string, object> PageInfo = ViewBag.PageInfo;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - @MvcApplication.Title</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="shortcut icon" href="@Url.Content("~/favicon.ico")" type="image/x-icon" />
    @RenderSection("stylesbefore", false)
    <link rel="stylesheet" href="/layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="//at.alicdn.com/t/font_tnyc012u2rlwstt9.css" media="all" />
    <script>
        window.CurrentUser = @JsonHelper.ToJson(CurrentUser);
        window.BaseUrl = '/@action.ControllerDescriptor.ControllerName';
        window.Title = "@ViewBag.Title";
        window.PageInfo = @JsonHelper.ToJson(ViewBag.PageInfo);
        window.TimeInfo = {
            Server: new Date('@(DateTime.Now.ToString("yyyy/MM/dd HH:mm:ss.fff"))'),
            Client: new Date()
        };
        window.ActionInfo = {
            Action: "@action.ActionName",
            Controller: "@action.ControllerDescriptor.ControllerName",
        };
    </script>
    @RenderSection("styles", false)
</head>
<body class="childrenBody">
    @RenderBody()
    <script src="~/Scripts/jquery-3.4.1.min.js?@MvcApplication.Version"></script>
    <script src="~/Scripts/jquery.validate.min.js?@MvcApplication.Version"></script>
    <script src="~/layui/layui.js?@MvcApplication.Version"></script>
    <script src="~/Scripts/aibibase.js?@MvcApplication.Version"></script>
    @RenderSection("scripts", false)
    @if (!(ViewBag.NoScript ?? false))
    {
        <script src="~/Scripts/@(action.ControllerDescriptor.ControllerName.ToLower())/@((string.IsNullOrEmpty(PageInfo.G<string>("View")) ?action.ActionName:PageInfo.G<string>("View")).ToLower()).js?@MvcApplication.Version"></script>
    }
</body>
</html>