@{
    ActionDescriptor action = ViewBag.ActionInfo;
    AiBi.Test.Dal.Model.SysUser CurrentUser = ViewBag.CurrentUser;
}
<!doctype html>
<!--
* Tabler - Premium and Open Source dashboard template with responsive and high quality UI.
* @@version 1.0.0-beta20
* @@link https://tabler.io
* Copyright 2018-2023 The Tabler Authors
* Copyright 2018-2023 codecalm.net Paweł Kuna
* Licensed under MIT (https://github.com/tabler/tabler/blob/master/LICENSE)
-->
<html lang="zh-cn">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>@ViewBag.Title - @MvcApplication.Title</title>
    <!-- CSS files -->
    @RenderSection("stylesbefore", false)
    <link href="~/layui/css/layui.css?@MvcApplication.Version" rel="stylesheet" />
    <link href="~/dist/css/tabler.min.css?@MvcApplication.Version" rel="stylesheet" />
    <link href="~/dist/css/tabler-flags.min.css?@MvcApplication.Version" rel="stylesheet" />
    <link href="~/dist/css/tabler-payments.min.css?@MvcApplication.Version" rel="stylesheet" />
    <link href="~/dist/css/tabler-vendors.min.css?@MvcApplication.Version" rel="stylesheet" />
    <link href="~/dist/css/demo.min.css?@MvcApplication.Version" rel="stylesheet" />
    <link href="~/Styles/aibibase.css?@MvcApplication.Version" rel="stylesheet" />
    <script>
        window.CurrentUser = @JsonHelper.ToJson(CurrentUser);
        window.BaseUrl = '/@action.ControllerDescriptor.ControllerName';
        window.Title = "@ViewBag.Title";
        window.PageInfo = @JsonHelper.ToJson(ViewBag.PageInfo);
        window.TimeInfo = {
            Server: new Date('@(DateTime.Now.ToString("yyyy/MM/dd HH:mm:ss.fff"))'),
            Client: new Date()
        };
    </script>
    <style>
        .btn-xsm {
            --tblr-btn-padding-y: 0.125rem;
            --tblr-btn-padding-x: 0.25rem;
            --tblr-btn-font-size: 0.9rem;
            --tblr-btn-line-height: 1.5;
            --tblr-btn-icon-size: .9rem;
        }
    </style>
    @*<style>
          @@import url('https://rsms.me/inter/inter.css');
          :root {
            --tblr-font-sans-serif: 'Inter Var', -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
          }
          body {
            font-feature-settings: "cv03", "cv04", "cv11";
          }
        </style>*@
    @RenderSection("styles", false)
</head>
<body>
    <script src="~/dist/js/demo-theme.min.js?@MvcApplication.Version"></script>
    <div class="page">
        <div class="page-wrapper">
            @RenderBody()
            <footer class="footer footer-transparent d-print-none">
                <div class="container-fluid">
                    @RenderSection("infooter", false)
                    <div class="row text-center align-items-center flex-row-reverse">
                        <div class="col-lg-auto ms-lg-auto">

                        </div>
                        <div class="col-12 col-lg-auto mt-3 mt-lg-0">
                            <ul class="list-inline list-inline-dots mb-0">
                                <li class="list-inline-item">
                                    Copyright &copy; 2023
                                    <a href="." class="link-secondary">爱拜尔</a>.
                                    All rights reserved.
                                </li>
                                <li class="list-inline-item">
                                    <a href="/Home/Version" class="link-secondary" rel="noopener" target="addtab" title="版本信息">
                                        @MvcApplication.Version
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <!-- Tabler Core -->
    <script src="~/dist/js/tabler.min.js?@MvcApplication.Version" defer></script>
    <script src="~/dist/js/demo.min.js?@MvcApplication.Version" defer></script>
    <script src="~/Scripts/jquery-3.4.1.min.js?@MvcApplication.Version"></script>
    <script src="~/layui/layui.js?@MvcApplication.Version"></script>
    <script src="~/Scripts/aibibase.js?@MvcApplication.Version"></script>
    @RenderSection("scripts", false)
    @if (!(ViewBag.NoScript ?? false))
    {
        <script src="~/Scripts/@(action.ControllerDescriptor.ControllerName.ToLower())/@(action.ActionName.ToLower()).js?@MvcApplication.Version"></script>
    }
</body>
</html>