@{
    var editurl = (string)null;
    var name = "用户";

    ActionDescriptor ActionInfo = ViewBag.ActionInfo;
    if (ActionInfo.ActionName.ToLower() == "agentedit")
    {
        editurl = "/User/AgentEdit";
        name = "代理商";
    }
    if (ActionInfo.ActionName.ToLower() == "testoredit")
    {
        editurl = "/User/TestorEdit";
        name = "教师";
    }
    if (ActionInfo.ActionName.ToLower() == "testededit")
    {
        editurl = "/User/TestedEdit";
        name = "会员";
    }
    if (ActionInfo.ActionName.ToLower() == "visitoredit")
    {
        editurl = "/User/VisitorEdit";
        name = "访客";
    }
    Dictionary<string, object> PageInfo = ViewBag.PageInfo;
}
@section styles{
    <style>
        .card-img, .card-img-top {
            border-top-left-radius: var(--tblr-card-inner-border-radius);
            border-top-right-radius: var(--tblr-card-inner-border-radius);
            height: 12rem;
            object-fit: cover;
        }
        tbody, td, tfoot, th, thead, tr {
            overflow-wrap:anywhere;
        }
        .txt_r{
            color:red
        }
    </style>
}
@section scripts{
    <script>
        var EnumSex = @JsonHelper.ToJson(EnumHelper.GetSelectList(typeof(EnumSex)).ToDictionary(a=>a.Value,a=>a.Text));
        var EnumStatus = @JsonHelper.ToJson(EnumHelper.GetSelectList(typeof(EnumEnableState)).ToDictionary(a=>a.Value,a=>a.Text));

        if (ActionInfo.Action.toLowerCase() == "agentedit") {
            $$.common.add.url = "/AddAgent";
            $$.common.edit.url = "/ModifyAgent";
        }
        if (ActionInfo.Action.toLowerCase() == "testoredit") {
            $$.common.add.url = "/AddTestor";
            $$.common.edit.url = "/ModifyTestor";
        }
        if (ActionInfo.Action.toLowerCase() == "testededit") {
            $$.common.add.url = "/AddTested";
            $$.common.edit.url = "/ModifyTested";
        }
        if (ActionInfo.Action.toLowerCase() == "visitoredit") {
            $$.common.add.url = "/AddVisitor";
            $$.common.edit.url = "/ModifyVisitor";
        }

    </script>
}

<!-- Page header -->
<div class="layui-fluid" style="margin-top:0px">
    @*<h4>@ViewBag.Title</h4>*@
</div>

<div class="layui-container">
    <form class="layui-form" id="form">
        <div id="userform">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label"><span class="txt_r">*</span>登录名</label>
                    <div class="layui-input-inline">
                        <input class="layui-input" name="Account" />
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label"><span class="txt_r">*</span>用户名</label>
                    <div class="layui-input-inline">
                        <input class="layui-input" name="Name" />
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label"><span class="txt_r"></span>手机号</label>
                    <div class="layui-input-inline">
                        <input class="layui-input" name="Mobile" />
                    </div>
                </div>
            </div>
            @if (string.IsNullOrEmpty(PageInfo.G<string>("KeyValueStr")))
            {
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label"><span class="txt_r">*</span>密码</label>
                        <div class="layui-input-inline">
                            <input class="layui-input" name="Password" />
                        </div>
                    </div>
                </div>
            }

            @if (ActionInfo.ActionName.ToLower() == "edit")
            {
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label"><span class="txt_r">*</span>角色</label>
                        <div class="layui-input-inline">
                            <select name="Type">
                                <option value="">请选择角色</option>
                                @foreach (var option in EnumConvert.ToList<EnumUserType>())
                                {
                                    <option value="@option.Value">@option.Text</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
            }
        </div>
        
        <div id="infoform">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label"><span class="txt_r"></span>真实姓名</label>
                    <div class="layui-input-inline">
                        <input class="layui-input" name="RealName" />
                    </div>
                </div>

            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label"><span class="txt_r"></span>性别</label>
                    <div class="layui-input-inline">
                        @foreach (var radio in EnumConvert.ToList<EnumSex>())
                        {
                            <input type="radio" name="Sex" value="@radio.Value" title="@radio.Text">
                        }
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label"><span class="txt_r"></span>生日</label>
                    <div class="layui-input-inline  layui-input-wrap">
                        <div class="layui-input-prefix">
                            <i class="layui-icon layui-icon-date"></i>
                        </div>
                        <input class="layui-input" name="Birthday" style="padding-right:0" autocomplete="off">
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label"><span class="txt_r"></span>身份证号</label>
                    <div class="layui-input-inline">
                        <input class="layui-input" name="IdCardNo" />
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label"><span class="txt_r"></span>单位名称</label>
                    <div class="layui-input-inline">
                        <input class="layui-input" name="UnitName" />
                    </div>
                </div>
            </div>
        </div>
        
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label"><span class="txt_r"></span></label>
                <div class="layui-footer">
                    <button class="layui-btn layui-btn-primary">保存</button>
                    <button class="layui-btn" type="button" onclick="$$.closeThis()">取消</button>
                </div>
            </div>
        </div>
    </form>
</div>