@{
    var pageurl = (string)null;
    var editurl = (string)"/User/AgentEdit";
    var name = "用户";

    ActionDescriptor ActionInfo = ViewBag.ActionInfo;
    if (ActionInfo.ActionName.ToLower() == "agentlist")
    {
        pageurl = "/GetAgentList";
        editurl = "/User/AgentEdit";
        name = "代理商";
    }
    if (ActionInfo.ActionName.ToLower() == "testorlist")
    {
        pageurl = "/GetTestorList";
        editurl = "/User/TestorEdit";
        name = "教师";
    }
    if (ActionInfo.ActionName.ToLower() == "testedlist")
    {
        pageurl = "/GetTestedList";
        editurl = "/User/TestedEdit";
        name = "会员";
    }
    if (ActionInfo.ActionName.ToLower() == "visitorlist")
    {
        pageurl = "/GetVisitorList";
        editurl = "/User/VisitorEdit";
        name = "访客";
    }
}
@section styles{
    <style>
        .card-img, .card-img-top {
            border-top-left-radius: var(--tblr-card-inner-border-radius);
            border-top-right-radius: var(--tblr-card-inner-border-radius);
            height: 12rem;
            object-fit: cover;
        }
        tbody, td, tfoot, th, thead, tr {
            overflow-wrap:anywhere;
        }
    </style>
}
@section scripts{
    <script>
        var EnumSex = @JsonHelper.ToJson(EnumHelper.GetSelectList(typeof(EnumSex)).ToDictionary(a=>a.Value,a=>a.Text));
        var EnumStatus = @JsonHelper.ToJson(EnumHelper.GetSelectList(typeof(EnumEnableState)).ToDictionary(a=>a.Value,a=>a.Text));
        
    @if (!string.IsNullOrEmpty(pageurl))
    {
        @:$$.common.getPageList.url = "@(pageurl)";
    }
    </script>
}

<!-- Page header -->
<div class="layui-fluid">
    <div class="layui-row" style="margin-top:0px">
        <div class="layui-col-xs6">
            <form class="layui-form" id="searchForm">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label" style="width:auto">搜索</label>
                        <div class="layui-input-inline">
                            <input type="text" value="" class="layui-input" placeholder="搜索…" name="keyword" id="keyword" autocomplete="off">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <button class="layui-btn layui-btn-sm layui-btn-normal">搜索</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="layui-col-xs6" style="text-align: right; ">
            <div class="layui-form">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label" style="visibility:hidden;width:auto">按钮</label>
                    </div>
                    <div class="layui-inline">
                        <a href="@Url.Content(editurl)" class="layui-btn layui-btn-sm" target="addtab">
                            添加@(name)
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="layui-fluid">
    <table id="table" ></table>
</div>

<div class="page-body" style="flex:1; display:none;flex-direction:column">
    <div class="container-fluid" style="flex:1">
        <div class="d-flex align-items-center pager">
            <p class="m-0 text-secondary"></p>
            <ul class="pagination ms-auto">
            </ul>
        </div>

        <div class="row row-cards" >
            <div class="table-responsive">
                <table class="table table-vcenter table-mobile-lg card-table" id="table">
                    <thead>
                        <tr>
                            <th>用户名</th>
                            <th>登录名/手机号</th>
                            <th>真实姓名</th>
                            <th>角色</th>
                            <th>单位</th>
                            <th>身份证号</th>
                            <th>生日</th>
                            <th class="w-1"></th>
                        </tr>
                    </thead>
                    <tbody id="list">
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



<script type="text/template" id="actionTemplate">
    <div class="layui-inline">
        <button class="layui-btn layui-btn-sm" type="button" lay-event="enable">{{=EnumStatus[(d.Status?0:1)]}}</button>
        <a class="layui-btn layui-btn-sm" target="addtab" title="修改@(name)-{{=d.Id}}" href="@Url.Content(editurl)/{{=d.Id}}">修改</a>
        <button class="layui-btn layui-btn-sm" lay-event="password">密码</button>
        <a class="layui-btn layui-btn-sm" target="addtab" href="/TestTemplate/ItsList/{{=d.Id}}" >任务分类</a>
        <button class="layui-btn layui-btn-sm" lay-event="delete" func="deluser">删除</button>
    </div>
</script>